*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* phones display section */
.phones-container{
    display: grid;
    width: 75%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 0 auto;
    margin-top: 30px;
}
.details-style{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

@media screen and (max-width:760px) {
    .phones-container{
        width: 100%;
        grid-template-columns: 1fr;
    }
    .phones-container div{
        margin: 0 auto;
    }
    .details-style{
        flex-direction: column;
    }
}