*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* phones display section */
.phones-container{
    display: grid;
    width: 75%;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 0 auto;
    margin-top: 30px;
}
.phones-container div{
    border-radius: 30px;
}
.card img{
    height: 200px;
    width: 180px;
    margin: 5px auto;
}
.details-style{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}
/* .btn-container{
    display: flex;
} */
.see-more-button{
    padding: 10px 40px;
    border-radius: 50%;
    margin: auto auto;
    border: none;
    box-shadow: inset black -2px -2px 2px ;
}
.spinner-container{
    display: flex;
}
#spinner{
    display: none;
    margin: 100px auto;
}

@media screen and (max-width:760px) {
    .phones-container{
        width: 100%;
        grid-template-columns: 1fr;
    }
    .phones-container div{
        margin: 0 auto;
    }
    .details-style{
        flex-direction: column;
    }
    .details-style div{
        margin-top: 20px;
    }
}